<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="ru.sberbankmobile" />
        <package android:name="ru.sberbank.sberbankid" />
        <package android:name="com.idamob.tinkoff.android" />
        <package android:name="ru.tinkoff.sme" />
        <package android:name="ru.tinkoff.investing" />
        <package android:name="ru.vtb24.mobilebanking.android" />
        <package android:name="ru.alfabank.mobile.android" />
        <package android:name="ru.gazprombank.android.mobilebank.app" />
        <package android:name="ru.yandex.bank" />
        <package android:name="com.yandex.bank" />
        <package android:name="ru.yoomoney.app" />
        <package android:name="ru.gosuslugi" />
        <package android:name="ru.gosuslugi.goskey" />
        <package android:name="ru.rt.mobile.gosuslugi" />
        <package android:name="ru.rostel" />
        <package android:name="ru.ozon.app.android" />
        <package android:name="com.wildberries.ru" />
        <package android:name="com.avito.android" />
        <package android:name="ru.yandex.market" />
        <package android:name="ru.yandex.taxi" />
        <package android:name="ru.foodfox.client" />
        <package android:name="com.yandex.browser" />
        <package android:name="ru.yandex.mail" />
        <package android:name="ru.yandex.yandexmaps" />
        <package android:name="ru.yandex.disk" />
        <package android:name="ru.yandex.androidkeyboard" />
        <package android:name="com.yandex.searchapp" />
        <package android:name="ru.mts.mymts" />
        <package android:name="ru.mts.mtstv" />
        <package android:name="ru.beeline.services" />
        <package android:name="ru.megafon.mlk" />
        <package android:name="ru.russianpost.android" />
        <package android:name="ru.rzd.pass" />
        <package android:name="st.uboo.android.client" />
        <package android:name="org.outline.android.client" />
        <package android:name="com.v2ray.ang" />
        <package android:name="org.amnezia.vpn" />
        <package android:name="com.wireguard.android" />
        <package android:name="de.blinkt.openvpn" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.net.VpnService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitDroid"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SplitDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SplitTunnelVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN split tunnel for Russian services" />
        </service>

        <service
            android:name=".VpnKickService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Brief VPN kick to pause third-party VPN" />
        </service>

        <service
            android:name=".VpnAutoPauseAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
